.main {
    width: 100%;
}

.search {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 20px;
  }

.button-column {
    align-items: start;
    justify-items: flex-start;

}

.filter-button {
    width: auto;
    height: auto;
    font-size: large;
    padding: 15px;
    margin-left: 0px;
    margin-right: 10px;
    align-self: start;
    justify-self: flex-start;
    background-color: aquamarine;
}

.filter-text-column {
    margin-left: 15px;
    margin-right: 0px;
    align-items: center;
    vertical-align: middle;
    justify-items: center;
}

.filter-text {
    align-self: center;
    vertical-align: middle;
    justify-self: center;
}

.toggle-button-green {
  background-color: aquamarine;
}

.toggle-button-green:hover {
    background-color: rgb(67, 158, 128);
  }

.toggle-button-red {
    text-decoration: line-through;
    background-color: rgb(163, 55, 55);
  }

.toggle-button-red:hover {
    text-decoration: line-through;
    background-color: rgb(126, 0, 0);
  }
